body{
    background-color: rgb(255, 255, 255);
}
.border {
    border: 2px solid rgb(33, 26, 5);
    padding: 15px 25px;
    line-style:circle;
    display: block;     /* important */
    width: fit-content;
    margin: 40px auto;
    text-align: center;   /* centers text inside */
}

.block {
    border: 2px solid rgb(104, 79, 11);
    padding: 15px 25px;
    color: #dbac3f;
    display: block;      /* important */
    width: fit-content;  /* button stays small */
    margin: 40px auto;   /* centers horizontally */
    text-decoration: none;   /* removes underline */
    
}
.block:hover {
    background-color: #f6eace;
    color: black;
}

.mini {
    border: 2px solid rgb(92, 69, 5);
    padding: 15px 25px;
    color: #f6eace;
    display: block;      /* important */
    width: fit-content;  /* button stays small */
    margin: 40px auto;   /* centers horizontally */
    text-decoration: none;   /* removes underline */
    
}

.mini:hover {
    background-color: #f6eace;
    color: black;
  
}
