h1{
    color: rgb(4, 47, 127);
  
}
h2{
     color: rgb(46, 107, 222);
}
h3{
      color: rgb(25, 26, 27);
}

body{
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}
p.next{
    text-align: left;
    font-size: large;
    color: rgb(25, 26, 27);
}